$color_1: white;
$color_2: black;
$color_3: fuchsia;
$color_4: green;
$color_5: rgb(6, 187, 243);
$color_6: #fff;
$color_7: brown;
$color_8: rgba(158, 156, 156, 0.88);
$color_9: #FFFFFF;
$color_10: red;
$color_11: rgb(0, 0, 0);
$font-family: 
'Noto Serif JP',
Georgia,
'Trebuchet MS',
'Lucida Sans Unicode',
'Secular One',
Arial;
$background-color_1: black;
$background-color_2: #00000070;
$background-color_3: rgba(165, 42, 42, 0.809);
$background-color_4: blue;
$background-color_5: rgba(195, 63, 63, 0.592);
$background-color_6: rgba(0, 0, 0, 0.188);
$background-color_7: rgba(232, 221, 221, 0.76);